<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">

<resultMap type="MemberVO" id="memberMap">
  <id property="userid" column="userid"/>
  <result column="userpw" property="userpw"/>
  <result column="username" property="username"/>
  <collection property="authList" resultMap="authMap"></collection>
</resultMap>

<resultMap type="AuthVO" id="authMap">
  <result property="userid" column="userid"/>
  <result property="auth" column="auth"/>
</resultMap>

<select id="read" resultMap="memberMap">
select * 
from 
  tbl_member mem LEFT OUTER JOIN tbl_member_auth auth
on mem.userid = auth.userid  
where mem.userid = #{userid}
</select>

</mapper>